.axis path,
.axis line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.ng-invalid.ng-dirty {
    border-color: #f77;
}
.ng-valid.ng-dirty {
    border-color: #7f8;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.bar {
    fill-opacity: .75;
}
.bar:hover {
    fill-opacity: 1;
}
