@mixin product($product, $color) {
  .#{$product} {
    fill: $color;
  }
  .#{$product}.neg {
    fill: lighten($color, 25%);
    stroke: $color;
  }
}

.neg {stroke-width: 2px;}

/*all products*/
@include product("pr0000", darkgrey);
/*solid fuels*/
@include product("pr2000", #664118);
/*petroleum products*/
@include product("pr3000", #111);
/*gas*/
@include product("pr4000", #60338e);
/*nuclear heat*/
@include product("pr5100", #d62ad0);
/*derived heat*/
@include product("pr5200", #b75c21);
/*renewables*/
@include product("pr5500", #17590d);
/*electricity*/
@include product("pr6000", #94533b);
/*waste (non-renewable)*/
@include product("pr7200", #4e0c43);
