//http://getbootstrap.com/customize/#less-variables

$body-bg: #f2f2f2;
$brand-primary: #582cdb;
@import "bootstrap";



$asideWidth: 300px;
$headfootHeight: 40px;
$quickPanelHeight: 30px;
$bottomPanelHeight: 200px;
$borderColor: darken($body-bg, 20%);


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
*, *:before, *:after{
  box-sizing: inherit;
  overflow: inherit;
}

body {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $headfootHeight;

  //make sure all contents distributed inside
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  @include linear-gradient(lighten($body-bg, 5%), $body-bg);
  border: 1px $borderColor solid;
  border-width: 0 0 1px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $headfootHeight;

  @include linear-gradient($body-bg, lighten($body-bg, 5%));
  border: 1px $borderColor solid;
  border-width: 1px 0 0;
}
#outerContainer {
  position: absolute;
  left: 0;
  top: $headfootHeight;
  width: 100%;
  height: calc(100% - 2*#{$headfootHeight});
}
aside {
  position: absolute;
  left: 0;
  top: 0;
  width: $asideWidth;
  height: 100%;

  border: 1px $borderColor solid;
  border-width: 0 1px 0 0;
}
.sidePanel {
  //position:absolute;
  width: 100%;
  height: 25%;
  border: 1px green solid;
}
#innerContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - #{$asideWidth});
  height: 100%;
}
#quickPanel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $quickPanelHeight;

  //make sure all contents distributed inside
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;


  #quickPanelGeo {
    width: 50px;
  }
}
#bottomPanel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $bottomPanelHeight;

  border: 1px $borderColor solid;
  border-width: 1px 0 0;
}
#mainPanel {
  position: absolute;
  left: 0;
  top: $quickPanelHeight;
  width: 100%;
  height: calc(100% - #{$bottomPanelHeight} - #{$quickPanelHeight});
}



h4 {
  color: $brand-primary;
}
.elaboration {
  font-size: ceil(($font-size-base * 0.75));
}
.pick {
  margin: 10%;

  select, input[type=text] {
    width: 100%;
  }
}

bar-chart{
  width: 100%;
  height: 100%;
  display: block;
  float: left;
}

#about {
  width: 100%;
  height: 100%;
  padding: 20px;
}
