/*styling of bars based on product*/
.pr0000 { /*all products*/
    fill: #808080;
}

.pr2000 { /*solid fuels*/
    fill: #333
}

.pr3000 { /*petroleum products*/
    fill: #111
}

.pr4000 { /*gas*/
    fill: #60338e
}

.pr5100 { /*nuclear heat*/
    fill: #d62ad0
}

.pr5200 { /*derived heat*/
    fill: #b75c21
}

.pr5500 { /*renewables*/
    fill: #17590d
}

.pr6000 { /*electicity*/
    fill: #94533b
}

.pr7200 { /*waste (non-renewable)*/
    fill: #4e0c43
}