<div class="pick">
    <fieldset>
        <legend>Country</legend>
        Search:<br/>
        <input type="text" ng-model="geoFilter" /> <br/>
        <select single size="10" ng-model="settings.fieldFilter.GEO" ng-options="geo.name as geo.descr group by geo.group for geo in options.geos | filter:geoFilter | orderBy: ['group', 'descr']" ng-change="updateGraph()"></select>
        <!--You selected {{settings.fieldFilter.GEO}}.-->
    </fieldset>
    <br/>

    <fieldset>
        <legend>Energy sources</legend>
        <input type="radio" ng-model="settings.splitBySource" ng-value="0" ng-change="updateSources()" /> Aggregate<br/>
        <input type="radio" ng-model="settings.splitBySource" ng-value="1" ng-change="updateSources()" />  Split <br/>
        <input type="radio" ng-model="settings.splitBySource" ng-value="2" ng-change="updateSources()" /> Select...
        <select ng-show="settings.splitBySource==2" multiple size="8" ng-model="settings.customProductFilter" ng-options="product.name as product.descr for product in options.products | filter: {name: '!0000'}" ng-change="updateSources()"></select>
        <!--You selected {{settings.fieldFilter.PRODUCT}}-->
    </fieldset>
    <br/>

    <fieldset ng-show="settings.splitBySource==1">
        <legend>Relative values</legend>
        <input type="checkbox" ng-model="settings.to100" ng-change="updateGraph()"/> Add to 100%<br/>
        <p ng-show="settings.to100" class="elaboration">Yes, show as fractions of total</p>
        <p ng-show="!settings.to100" class="elaboration">No, show absolute values</p>
    </fieldset>
</div>