<div class="pick">
    <fieldset>
        <legend>Country</legend>
        Search:<br/>
        <input type="text" ng-model="geoFilter" /> <br/>
        <select single size="10" ng-model="settings.fieldFilter.GEO" ng-options="geo.name as geo.descr group by geo.group for geo in options.geos | filter:geoFilter | orderBy: ['group', 'descr']" ng-change="updateGraph()"></select>
        <!--You selected {{settings.fieldFilter.GEO}}.-->
    </fieldset>
    <br/>

    <fieldset>
        <legend>Energy sources</legend>
        <label ng-repeat="divide in options.yDivides">
            <input type="radio" ng-model="settings.yDivide" ng-value="divide" ng-change="updateYDivide()" />
            {{divide.name}}
        </label>
        <select ng-show="settings.yDivide.val==2" multiple size="8" ng-model="settings.customProductFilter" ng-options="product.name as product.descr for product in options.products | filter: {name: '!0000'}" ng-change="updateYDivide()"></select>
        <!--You selected {{settings.fieldFilter.PRODUCT}}-->
    </fieldset>
    <br/>

    <fieldset>
        <legend>Unit</legend>
        <div ng-repeat="group in options.yUnits">
            <div class="subtitle">{{group.name}}</div>
            <label ng-repeat="unit in group.units">
                <input type="radio" ng-model="settings.yUnit" ng-value="unit" ng-change="updateYUnit()"/>
                {{unit.name}}
            </label>
        </div>
        {{settings.yUnit.descr}}
    </fieldset>
</div>